<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">    
    
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>base.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>base.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompDetail</servlet-name>
        <servlet-class>base.CompDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaidDetail</servlet-name>
        <servlet-class>base.PaidDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>base.Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        
        <url-pattern>*.jsf</url-pattern>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Submit</servlet-name>
        <servlet-class>base.Submit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMain</servlet-name>
        <servlet-class>base.loadMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalMain</servlet-name>
        <servlet-class>base.ApprovalMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalDetail</servlet-name>
        <servlet-class>base.ApprovalDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Approve</servlet-name>
        <servlet-class>base.Approve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseMain</servlet-name>
        <servlet-class>base.PurchaseMain</servlet-class>
    </servlet>
    <servlet><servlet-name>PurchaseDetail</servlet-name><servlet-class>base.PurchaseDetail</servlet-class></servlet><servlet><servlet-name>Purchase</servlet-name><servlet-class>base.Purchase</servlet-class></servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>base.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompDetail</servlet-name>
        <url-pattern>/CompDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaidDetail</servlet-name>
        <url-pattern>/PaidDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Submit</servlet-name>
        <url-pattern>/Submit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMain</servlet-name>
        <url-pattern>/loadMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalMain</servlet-name>
        <url-pattern>/ApprovalMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalDetail</servlet-name>
        <url-pattern>/ApprovalDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Approve</servlet-name>
        <url-pattern>/Approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseMain</servlet-name>
        <url-pattern>/PurchaseMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseDetail</servlet-name>
        <url-pattern>/PurchaseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Purchase</servlet-name>
        <url-pattern>/Purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
